
 body{
    text-align: center;
}
table {
    margin: auto;
    text-align: center;
    align-content: center;
    border: 0px solid black;
    right: 100px;
}
td{
    border: 0px solid black; 
}
/* .smiley:hover{
    transition: 1s; 
    cursor:pointer;
    transform: scale(2,2);
} */

button{
    background-color: rgb(243, 221, 18);
    transition: 1s;
    border-radius: 10px;
    margin: 15px;
    margin-bottom: 30px;
    font-size:1em;
    width: 120px;
    height: 40px;
    cursor:pointer;

}
button:hover{
    background-color: rgb(207, 189, 21);
    transition: 2s;
    cursor:pointer; 
}

.main {
    width: 80px;
    height: 80px;
    /* background-color: rgb(243, 221, 18); */
    transition: 1s;
    /* border-radius: 10px; */
    margin: 15px;
    margin-bottom: 50px;
    font-size:2em;
    text-align: center;
}
.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
}
.unVisible {
    background-color: rgb(243, 221, 18);
    transition: 1s;
    border-radius: 10px;
    cursor:pointer; 
}
.unVisible:hover{
    background-color: rgb(207, 189, 21);
    transition: 2s;
    cursor:pointer; 
}

.onMine{
    background-color: red;
    border-radius: 10px;
}
.center {
    margin: auto;
    align-content: center;
    width: 500px;
    border: 0px solid rgb(243, 221, 18);
    padding: 10px;
  }
.game-board{
    margin: auto;
    align-content: center;
    text-align: center;
    width: 500px;
    border: 1px solid rgb(243, 221, 18);
    padding: 10px;
}
.main-title{
    margin: auto;
    align-content: center;
    text-align: center;
    font-size: 3em;
    font-style: oblique;
    font-family: serif;
}
.power-ups{
    margin-top: 30px;
}
.power-ups-lifes{
    transition: 1s;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    font-size:1em;
    width: 120px;
    height: 40px;
    font-size: 2em;
}
.power-ups-hints{
    transition: 1s;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    font-size:1em;
    width: 120px;
    height: 40px;
    font-size: 2em; 
}
.power-ups-safeclick{
    transition: 1s;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 30px;
    font-size:1em;
    width: 120px;
    height: 40px;
    font-size: 2em; 
}
.log-say{
    margin: auto;
    text-align: center;
    transition: 1s;
    text-overflow: clip;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 500px;
    height: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    font-size: 1.2em;
}